@{
    ViewData["Title"] = "基本資料";
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-customer-tab" data-bs-toggle="tab" data-bs-target="#nav-customer" type="button" role="tab" aria-controls="nav-customer" aria-selected="true">客戶資料</button>
        <button class="nav-link" id="nav-vendor-tab" data-bs-toggle="tab" data-bs-target="#nav-vendor" type="button" role="tab" aria-controls="nav-vendor" aria-selected="false">廠商資料</button>
        <button class="nav-link" id="nav-user-tab" data-bs-toggle="tab" data-bs-target="#nav-user" type="button" role="tab" aria-controls="nav-user" aria-selected="false">人員資料</button>
        <button class="nav-link" id="nav-department-tab" data-bs-toggle="tab" data-bs-target="#nav-department" type="button" role="tab" aria-controls="nav-department" aria-selected="false">部門管理</button>
        @*<button class="nav-link" id="nav-title-tab" data-bs-toggle="tab" data-bs-target="#nav-title" type="button" role="tab" aria-controls="nav-title" aria-selected="false">職位管理</button>*@
        <button class="nav-link" id="nav-position-tab" data-bs-toggle="tab" data-bs-target="#nav-position" type="button" role="tab" aria-controls="nav-position" aria-selected="false">職位管理</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-customer" role="tabpanel" aria-labelledby="nav-customer-tab">
        <partial name="Customer" />
    </div>
    <div class="tab-pane fade" id="nav-vendor" role="tabpanel" aria-labelledby="nav-vendor-tab">
        <partial name="Vendor" />
    </div>
    <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
        <partial name="User" />
    </div>
    <div class="tab-pane fade" id="nav-department" role="tabpanel" aria-labelledby="nav-department-tab">
        <partial name="Department" />
    </div>
    @*<div class="tab-pane fade" id="nav-title" role="tabpanel" aria-labelledby="nav-title-tab">
            <partial name="Title" />
        </div>*@
    <div class="tab-pane fade" id="nav-position" role="tabpanel" aria-labelledby="nav-position-tab">
        <partial name="Position" />
    </div>
</div>

@section scripts{
    <script>
        var GetCustomerURL = '@Url.Action("GetCustomer", "BasicInfo")';
        var AddCustomerURL = '@Url.Action("AddCustomer", "BasicInfo")';
        var EditCustomerURL = '@Url.Action("EditCustomer", "BasicInfo")';
        var DeleteCustomerURL = '@Url.Action("DeleteCustomer", "BasicInfo")';
        var GetVendorURL = '@Url.Action("GetVendor", "BasicInfo")';
        var AddVendorURL = '@Url.Action("AddVendor", "BasicInfo")';
        var EditVendorURL = '@Url.Action("EditVendor", "BasicInfo")';
        var DeleteVendorURL = '@Url.Action("DeleteVendor", "BasicInfo")';
        var GetUserURL = '@Url.Action("GetUser", "BasicInfo")';
        var AddUserURL = '@Url.Action("AddUser", "BasicInfo")';
        var EditUserURL = '@Url.Action("EditUser", "BasicInfo")';
        var GetDepartmentURL = '@Url.Action("GetDepartment", "BasicInfo")';
        var GetDepartmentItemURL = '@Url.Action("GetDepartmentItem", "BasicInfo")';
        var AddDepartmentURL = '@Url.Action("AddDepartment", "BasicInfo")';
        var EditDepartmentURL = '@Url.Action("EditDepartment", "BasicInfo")';
        var DeleteDepartmentURL = '@Url.Action("DeleteDepartment", "BasicInfo")';
        @*var GetTitleURL = '@Url.Action("GetTitle", "BasicInfo")';
        var AddTitleURL = '@Url.Action("AddTitle", "BasicInfo")';
        var EditTitleURL = '@Url.Action("EditTitle", "BasicInfo")';
        var DeleteTitleURL = '@Url.Action("DeleteTitle", "BasicInfo")';
        var GetDepartmentParentItemURL = '@Url.Action("GetDepartmentParentItem", "BasicInfo")';
        var GetUnitItemURL = '@Url.Action("GetUnitItem", "BasicInfo")';*@
        var GetPositionURL = '@Url.Action("GetPosition", "BasicInfo")';
        var AddPositionURL = '@Url.Action("AddPosition", "BasicInfo")';
        var EditPositionURL = '@Url.Action("EditPosition", "BasicInfo")';
        var DeletePositionURL = '@Url.Action("DeletePosition", "BasicInfo")';
    </script>
    <script src="~/controller/BasicInfo/Customer.js"></script>
    <script src="~/controller/BasicInfo/Vendor.js"></script>
    <script src="~/controller/BasicInfo/User.js"></script>
    <script src="~/controller/BasicInfo/Department.js"></script>
    @*<script src="~/controller/BasicInfo/Title.js"></script>*@
    <script src="~/controller/BasicInfo/Position.js"></script>
}